## Data Manipulation

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("earthquake_dataset.xlsx")
df.head()

,Date,Time (utc),Region,Magnitude,Depth (km),Latitude,Longitude,Mode,Map
0,2024-06-23,04:51:49,"Mindanao, Philippine",4.8,342,8.01N,125.20E,A,-
1,2024-06-23,03:58:03,Near Coast of Venezuela,5.9,105,10.80N,62.65W,A,-
2,2024-06-23,03:12:08,"Near East Coast of Honshu, japan",5.0,55,37.16N,141.09E,A,-
3,2024-06-22,20:46:51,Near Coast of Peru,5.3,64,15.79S,74.47W,A,-
4,2024-06-22,18:08:44,Afghanistan-Tajikistan Border Region,3.8,179,36.36N,71.45E,M,-

In [5]:
df.dtypes

Date          datetime64[ns]
Time (utc)            object
Region                object
Magnitude            float64
Depth (km)             int64
Latitude              object
Longitude             object
Mode                  object
Map                   object
dtype: object

In [6]:
df.nunique()

Date           2671
Time (utc)    13344
Region         3206
Magnitude        77
Depth (km)      601
Latitude       5504
Longitude      6697
Mode              2
Map               1
dtype: int64

### Data Cleaning