# Financial Analysis Using Python

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Preparation and Cleaning

In [4]:
# Defining the constants
TAX_RATE_2022 = 0.2090
TAX_RATE_2023 = 0.1930
OPERATIONAL_CASH_PROPORTION = 0.20

In [7]:
# Load all sheets from Excel into separate DataFrames
excel_file_path = "/Users/sakshiii/Desktop/Intro_to_python/Rapports Nestl√©_students.xlsx"
sheets = pd.read_excel(excel_file_path, sheet_name=None)

# Accessing individual sheets as DataFrames
income_statement = sheets['Income statements']
other_trading_and_operating_profit_item = sheets['Other trading & op inc. - exp.']
financial_profit_items = sheets['Financial inc. - exp.']
trade_and_other_payable_items = sheets['Trade & other payables']
ppe_items = sheets['Property, plant & equipement']
balance_sheet = sheets['Balance sheet']

In [8]:
other_trading_and_operating_profit_item.head()

   Other trading and operating profit item   2023   2022   2021
0  4.1 Net other trading income/(expenses)    NaN    NaN    NaN
1                       In millions of CHF    NaN    NaN    NaN
2                     Other trading income  132.0  107.0  171.0
3                                      NaN    NaN    NaN    NaN
4                      Restructuring costs -723.0 -273.0 -311.0

In [9]:
#Remove rows with missing titles and those without relevant data.
other_trading_and_operating_profit_item.dropna(subset=['Other trading and operating profit item'])

              Other trading and operating profit item    2023    2022    2021
0             4.1 Net other trading income/(expenses)     NaN     NaN     NaN
1                                  In millions of CHF     NaN     NaN     NaN
2                                Other trading income   132.0   107.0   171.0
4                                 Restructuring costs  -723.0  -273.0  -311.0
5   Impairment of property, plant and equipment an...  -602.0 -2090.0 -2093.0
6                   Litigations and onerous contracts  -173.0  -400.0  -561.0
7                      Miscellaneous trading expenses  -167.0  -252.0  -166.0
8                              Other trading expenses -1665.0 -3015.0 -3131.0
10          Total net other trading income/(expenses) -1533.0 -2908.0 -2960.0
12         4.2. Net other operating income/(expenses)     NaN     NaN     NaN
13                                 In millions of CHF     NaN     NaN     NaN
14                   Profit of disposal of businesses     3.0    20.0   257.0
15                     Miscellaneous operating income   295.0   320.0   441.0
16                             Other operating income   298.0   340.0   698.0
18                      Loss on disposalof businesses  -224.0   -99.0   -22.0
19  Impairment of goodwill and non-commercialized ...   -45.0  -636.0  -521.0
20                   Miscellaneous operating expenses  -486.0  -474.0  -635.0
21                           Other operating expenses  -755.0 -1209.0 -1178.0
23                  Total net other income/(expenses)  -457.0  -869.0  -480.0